<%- include ("./partials/header.ejs")%>

<div class="container">


  
  
  <div class="bg-light p-3 rounded-3 ">
    <h1>paying with paystack</h1>
    <hr>
  </div>
  <br>
    <div class="row"> 
      <a href="/pay"class="btn btn-success">pay dues</a>
    </div>
    <!-- end of row -->

  <!-- end of bg light -->
</div>

<!-- end of container -->
    
 


<%- include ("./partials/footer.ejs")%>